#infos-container{
    background: white;
    padding: 2vh 3vw;
    width: 90vw;
}

#infos-titre{
    display: flex;
    justify-content: center;
    font-size: large;
}

#infos-description{
    padding: 0px 20vw;
    text-align: justify;
    font-size: larger;
}

#infos-encour{
    display: flex;
    justify-content: center;
    font-size: larger;
}

#infos-image{
    display: flex;
    justify-content: center;
}

#infos-image img{
    height: auto;
    width: 44vw;
}

/* style 3 boutons */
.bouton{
    width: fit-content;
    height: fit-content;
    padding: 0.75em;
    border: 1px solid black;
    border-radius: 2em;
}

.bouton a{
    text-decoration: none;
    color: black;
}

#infos-edit{
    background-color: orange;
}

#infos-delete{
    background-color: red;
}

/* placement bouton */
#boutons{
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-between;
}

#ligne-haut{
    display: flex;
    justify-content: center;
}

#ligne-bas{
    display: flex;
    justify-content: space-around;
}

/* couleur bouton watch */

#infos-watch-crunchyroll{
    background-color : #f47521
}

#infos-watch-crunchyroll a{
    color : #141519;
    text-decoration: none;
}


#infos-watch-netflix{
    background-color : #e50914
}

#infos-watch-netflix a{
    color : #141519;
    text-decoration: none;
}


#infos-watch-amazon{
    background-color : #00a8e1
}

#infos-watch-amazon a{
    color : #141519;
    text-decoration: none;
}


#infos-watch-disney{
    background-color : #113ccf
}

#infos-watch-disney a{
    color : #141519;
    text-decoration: none;
}


#infos-watch-youtube{
    background-color : #ff0000
}

#infos-watch-youtube a{
    color : #141519;
    text-decoration: none;
}


#infos-watch-adn{
    background-color : #0095ff
}

#infos-watch-adn a{
    color : #141519;
    text-decoration: none;
}