{% extends 'base.html.twig' %}

{% block title %}connexion{% endblock %}

{% block stylesheets %}
    <link type='text/css' rel='stylesheet' href='{{asset('css/log-in.css')}}'>
{% endblock %}

{% block body %}
    <div id='login_container'>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            
            <div id='login-card'>
                <div>
                    <h1 class="h3 mb-3 font-weight-normal">Me connecter</h1>
                </div>
                <div id='login-input'>
                    <div id='login-name'>
                        <label for="username" id="username-label">nom d'utilisateur</label>
                        <input type="text" value="{{ last_username }}" name="_username" id="username-input" class="form-control" autocomplete="username" required autofocus>
                    </div>
                    <div id='login-password'>    
                        <label for="password" id="password-label">mot de passe</label>
                        <input type="password" name="_password" id="password-input" class="form-control" autocomplete="current-password" required>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
                <div id='login-btn'>
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> rester connecter
                        </label>
                    </div>
                    <div>
                        <button class="btn btn-lg btn-primary" type="submit">
                            connexion
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
