<nav>
   <div id="nav-left">
        <img id="logo" src="{{asset('images/logo.png')}}">
        <a href="{{ path('app_home_page') }}">accueil</a>
        <a href="">sortie du jour</a>
        <a href="">calendrier des sortie</a>
    </div>
    
    <div id="nav-right">
        <a href="{{ path('app_login') }}">connexion</a>
    </div>
</nav>