<div id="side-menu">
    <ul>
        <div id="top-part">
            <a class="link" href="">
                <li>
                    <span>genre</span> <span>➤</span> 
                </li>
            </a>            
            <a class="link" href="">
                <li>
                    <span>favoris</span> <span>➤</span>
                </li>
            </a>
        </div>
        <div id="bottom-part">
            <a class="link" href="">
                <li>
                    <span>mon compte</span> <span>👤</span>
                </li>
            </a>
            {% if is_granted('ROLE_ADMIN') %}
            <a class="link" href="{{ path('app_ajout_anime') }}">
                <li>
                    <span>ajouter</span> <span>+</span>
                </li>
            </a>
            {% endif %}
        <hr>
            <a class="link" href="">
                <li>
                    <span>paramétre</span> <span>⚙</span>
                </li>
            </a>    
        </div>
    </ul>
</div>